body { 
    background-color: black;
    margin: 0;
    padding: 0;
 }

.app-container {
    font-family: Arial, Helvetica, sans-serif;
 font-size: medium;
    /* background-color: rgba(90, 90, 90, 0.278); */
    color: whitesmoke;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgba(211, 211, 189, 0.048);
    /* max-width: 100%; */
}   
.header {
    margin: 0px 0px 10px 0px;
    background-color: rgba(90, 90, 90, 0.278);
    padding: 15px;
    border: 1px solid whitesmoke;
}

.header-balance {
    margin-left: 10px;
    color: yellowgreen;
}
.wallets-container {
    display: flex;
    flex-wrap: wrap;
}
.wallet,
.loading {
    background-color: rgba(90, 90, 90, 0.278);
     margin: 5px 5px 5px 5px;
    padding: 5px;
    /* border-radius: 15px; */
    border: 1px solid whitesmoke;
    max-width: 100%;
}
.wallet-name {
    font-size: 12px;
    color: aqua;
}
.totalWallet {
    color: orange;
}
ul {     
    margin: 7px;
    list-style-type: none; 
}
